* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --primary-color: #2584FF;
    --secondary-color: #00D9FF;
    --accent-color: #FF3400;
    --text-primary: #1B0760;
    --text-secondary: #9591A8;
}
html {
    font-size: 62.5%; /* 10px */
}
body {
    font-size: 1.6rem;
    font-family: "Inter", Arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
#root {
    max-width: 1500px;
    margin: 0 auto;
}
/* home START */
.home {
    background-color: black;
    color: white;
    clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
} 
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-bottom: 1px solid var(--text-secondary);
}
.home__button {
    background-color: transparent;
    font-size: 2rem;
    color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    padding: 5px 9px;
    border-radius: 4px;
}
.nav {
    display: none;
}
.nav__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2.3rem;
}
.nav__link {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 3rem;
}
.home__section {
    padding: 6rem;
    padding-bottom: 15rem;
}
.home__section {
    text-align: center;
}
.title {
    font-size: 8rem;
}
.lead {
    font-size: 4rem;
    color: var(--text-secondary);
    margin-bottom: 2rem;
}
.home__link {
    font-size: 3rem;
    color: white;
    text-decoration: none;
    padding: 2rem 7rem;
    background-color: var(--accent-color);
    display: inline-block;
    border-radius: 50px;
    text-transform: uppercase;
}
/* home END */

/* cards START */
.cardssection {
    padding: 10rem;
}
.list {
    list-style-image: url('images/tick.svg');
    padding-left: 0;
}
.item {
    font-size: 2.4rem;
}
.link {
    color: var(--accent-color);
    font-size: 3rem;
    text-decoration: none;
}
.link::after {
    content: "-->";
    margin-left: 6px;
    transition: 0.2s margin-left;
}
.link:hover::after {
    margin-left: 15px;
}
/* cards END */

/* tarif START */
.tarif {
    padding: 2rem;
}
.tarif__form {
    border: 3px solid blue;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 4rem;
}
.tarif__input, .tarif__button {
    font-size: 2.4rem;
}
.tarif__input {
    flex-grow: 1;
    background-color: lime;
    border: 0;
    outline: 0;
}
.tarif__button {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    border-radius: 30px;
}
.badge {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: white;
}
.badge__small {
    font-size: 2rem;
}
.tarif__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.tarif__item {
    border: 2px solid red;
    font-size: 2.4rem;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}
/* tarif END */

.image {
    border: 5px solid red;
    width: 500px;
    transition: 0.2s scale;
}
.image:hover {
    scale: 1.05;
}

/* media START */
@media screen and (min-width: 515px) {
    .tarif__form {
        border-radius: 50px;
        flex-direction: row;
    }
}
@media screen and (min-width: 780px) {
    .home__button {
        display: none;
    }
    .nav {
        display: block;
    }
    .home__section {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .home__content {
        width: 48%;
    }
    .home__image {
        width: 48%;
    }
}
@media screen and (min-width: 1000px) {
    .tarif__list {
        grid-template-columns: repeat(6, 1fr);
    }
    .tarif {
        padding: 5rem;
    }
}
@media screen and (min-width: 1200px) {
    .tarif {
        padding: 5rem 7rem;
    }
    .title {
        font-size: 10rem;
    }
}
@media screen and (min-width: 1400px) {
    .tarif {
        max-width: 1300px;
        margin: 0 auto;
    }
}
/* media END */